*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",'sans-serif';
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#e41414e4,#d34f79);
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}

.container h1{
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}
.container h1 img{
     width: 65px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(#ef050586,#970c38);
    color: white;
    border-radius: 40px;
    border: 0;
    outline: 0;
    font-size: 16px;
    margin: 30px 0 20px;
    cursor: pointer;
    padding: 15px 25px;
}
.container button img{
    width: 25px;
    margin-right: 8px;
}

.input-box{
   position: relative;
   width: 100%;
   max-width: 500px;
   min-height: 150px;
   background-color: white;
   color: #333;
   outline: none;
   border-radius: 5px;
   padding: 20px;
   margin: 20px 0;
   

}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    right: 15px;
}